<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step-03</title>
    <style>
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .container {
            border: 4px solid red;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 31cm;
            min-height: 21.4cm;
        }

        .side01 {
            width: 15cm;
            min-height: 21.4cm;
            background-color: #4e555b;
        }

        .side02 {
            width: 1cm;
            min-height: 21.4cm;
            background-color: #007bff;
        }

        .side03 {
            width: 15cm;
            min-height: 21.4cm;
            background-color: #4e555b;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="side01"></div>
        <div class="side02"></div>
        <div class="side03"></div>
    </div>

</body>
<script>

    function draw() {
        let ctx = document.getElementById("head-title").getContext("2d");
        ctx.font = "48px serif";
        ctx.fillText("Hello world", 10, 50);
    }

    draw();
</script>
</html>