<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step-03</title>
    <style>
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            flex-direction: row;
        }

        .book-info{
            margin: 1cm;
            border: 2px solid;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 31cm;
            min-height: 22cm;
        }

        .user-input {

        }

        .front {
            width: 15cm;
            min-height: 22cm;
            background-image: url("../images/bg-sample-01.jpg");
        }

        .edge {
            width: 1cm;
            min-height: 22cm;
        }

        .back {
            width: 15cm;
            min-height: 22cm;
            background-image: url("../images/bg-sample-02.jpg");
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="book-info">
            <div class="back"></div>
            <div class="edge"></div>
            <div class="front"></div>
        </div>
        <div class="user-input">
            <h1>input area</h1>
        </div>
    </div>
</body>
<script>

    function draw() {
        let ctx = document.getElementById("head-title").getContext("2d");
        ctx.font = "48px serif";
        ctx.fillText("Hello world", 10, 50);
    }

</script>
</html>