<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step-03</title>
    <style>
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .page {
            margin: 1cm;
            border: #4e555b solid;
            width: 15.2cm;
            min-height: 22.5cm;
            padding: 1.5cm 1.5cm 2cm 1.5cm;
        }

        @page {
            size: A4;
            margin: 0;
        }

        @media print {
            .page {
                border: #4e555b solid;
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }
    </style>
</head>
<body>
    <div class="page">

    </div>
</body>
</html>